#include "resource.h"
#include "AppVersion.h"
#include <windows.h>

IDI_MAIN_ICON ICON "../../assets/icon.ico"

1 VERSIONINFO
FILEVERSION TM_VERSION_MAJOR,TM_VERSION_MINOR,TM_VERSION_PATCH,TM_VERSION_BUILD
PRODUCTVERSION TM_VERSION_MAJOR,TM_VERSION_MINOR,TM_VERSION_PATCH,TM_VERSION_BUILD
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "laynholt"
            VALUE "FileDescription", TM_APP_NAME_A " script host"
            VALUE "FileVersion", TM_APP_FILE_VERSION_A
            VALUE "InternalName", TM_APP_NAME_A
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", TM_APP_NAME_A ".exe"
            VALUE "ProductName", TM_APP_NAME_A
            VALUE "ProductVersion", TM_APP_FILE_VERSION_A
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
